html,
body {
  height: 100%;
  margin: 0;
}

.main-container {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: row;
}

.sidebar {
    flex: 0 1 30vw;
    background-color: white;
}

.portfolios{
    background-color: rgb(227, 227, 227);
    flex: 1 1 auto;
    padding: 0px 30px;
    gap: 10px;
    height:100%;
    overflow-y: auto;
}

.top{
    display: flex;
    flex-direction: row;
    margin: 30px 60px 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputs{
    display: flex;
    justify-content: center;
    margin: 50px 60px;
    gap: 20px;
}
